.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.row {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid white;
}

.row:last-child {
  display: flex;
  gap: 20px;
  border-bottom: none;
}

.cel {
  padding: 5px;
  border-right: 1px solid white;
}

.cel:last-child {
  border-right: none;
}
