:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.grid {
  margin: 14px;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: var(--column-width);
  overflow: auto;
}

.row {
  display: contents;
}

.cell {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 4px 8px;
  background-color: #fff;
}

.row .cell:first-child {
  border-left: 1px solid #000;
}

.row.header > .cell {
  font-weight: bold;
  text-align: left;
  background: #d8d8d8;
  font-size: 14px;
  border-top: 1px solid #000;
}

.row.nested {
  grid-column: 1 / var(--column-count);
}

.row.nested > .cell {
  background: #f3f3f3;
}

.sticky {
  position: sticky;
}

.sticky-column {
  left: 0;
}

/*UI*/
.checkbox {
  width: 14px;
  height: 14px;
}
